modules = ["java", "java-graalvm22.3"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "ULTRAGOL Builder"

[[workflows.workflow]]
name = "ULTRAGOL Builder"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "./build_ultragol.sh"

[workflows.workflow.metadata]
outputType = "console"
